/* GENERAL */

body
{
    margin: auto;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    background: url("../../../images/motif2.jpeg");
    background-position: center;
    background-size: contain;
    height: 100vh;
}

a
{
    color: inherit;
    text-decoration: none;
}

.max_width
{
    max-width: 1260px;
    margin: auto;
}

h1
{
    padding: 0;
    margin: 0;
}

ul
{
    list-style: none;
    padding: 0;
}

form input[type=text],input[type=email], input[type=date], select,input[type=password]
{
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ededed;
    outline: none;
    background: #fff;
    color: #acacac;
}

/* HEADER */

.filter
{
    height: 100%;
    background: linear-gradient(to top, rgba(250, 176, 173, 0.75) 100%, rgba(250, 176, 173, 0.2));
}

.header ul
{
    display: flex;
    float: right;
    background-color: #282c59;
    padding: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
    bottom: 15px;
}

.header_content
{
    padding-top: 40px;
    margin-bottom: 100px;
}

.content_login
{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.header img
{
    width: 300px;
}

.header ul
{
    display: flex;
    float: right;
    background-color: #282c59;
    padding: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
    bottom: 15px;
}

.header ul::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
    height: 100%;
    width: calc((100vw - 1260px) / 2);
    background-color: #282c59;
}

.header li
{
    color: #8588b8;
    border-right: 1px #333 solid; 
    padding-right: 20px;
    padding-left: 20px
}

.header li:hover
{
    color: #fff;
    transition: 0.5s;
}

.title_login .rose
{
    color: #faafaa;
    text-transform: uppercase;
}

/* CHAT */


.chat
{
    background: #fff;
    display: flex;
}

.chatwith
{
    width: 35%;
    background: #faafaa;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 10px;
}

.messages
{
    width: 65%;
}

.chat
{
    border-radius: 20px;
}

.recent
{
    padding: 17px;
    height: 300px;
    overflow: auto;
}

.my
{
    float: right;
    background-color: #282c59;
    color: #fff;
    padding: 5px;
    margin-bottom: 10px;
}

.receiver
{
    background-color: #faafaa;
    color: #fff;
    padding: 5px;
}